<ion-header>
  <ion-toolbar color="Success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Détails du contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngFor="let user of displayUser" color="light">
    <ion-item>
  <ion-avatar class="profile-pic">
    <img src="{{user.img}}">
  </ion-avatar>
</ion-item>
    
    <ion-card-header>
      <ion-card-title class="name">{{user.name}}</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-icon name="prenom"></ion-icon> Prénom  : {{user.prenom}}
    </ion-card-content>
    <br>
    <ion-card-content>
      <ion-icon name="call"></ion-icon> Numéro de téléphone 1  : {{user.phone}}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="call"></ion-icon> Numéro de téléphone 2  : {{user.phone}}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="date"></ion-icon> Date de création  : {{user.dateCreation}}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="date"></ion-icon> Date de modification  : {{user.dateMAJ}}
    </ion-card-content>

  </ion-card>
</ion-content>
